<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisualLink - Home</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/index.js"></script>
</head>

<body>
    <div class="App">
        <header class="App-header">
            <p><u> VisualLink: Object Detection and Product Linking for Online Shopping</u></p>
            <!-- <div className="pre_img">
            <span><img id="imagebox" src="" /></span>
          </div> -->
            <!-- <video width="320" height="240" controls>
            <source src="/static/video_1.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video> -->
            <!-- <button name="cam" class="button" id="opencam">Video Cam</button>
            <br /> -->
            <hr class="line" />
            <form action="/detect" method="POST">
                <input id="imageinput" type="file" name="image" onchange="readUrl(this)" />
                <input id="detectbutton" class="button" type="submit" value="Detect" />
            </form>
            <!--br />
            <div id="">
                <video id="uploaded_video"></video>
            </div>
            <div id="link">
                <a href="" id="download" download>Download</a>
            </div> -->
        </header>
    </div>
</body>

</html>